body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e6f4ea;
    color: #293325;
    background-color: #293325;
}

header {
    background-color: #4CBB17;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

 /* Navbar */
 nav {
    background-color: #293325;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  nav a {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 1rem;
    transition: background 0.3s;
  }
  
  nav a:hover {
    background-color: #4CBB17;
  }
  

.hero {
    text-align: center;
    padding: 15px 20px;
}

.hero h1 {
    color: #4CBB17;
    font-size: 36px;
}

.product-details{
    display: flex;
    justify-content: center;
    
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
}

.details{
    background-color: white;
    color: #293325;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s;
}

.details:hover{
    transform: scale(1.15);
}

.product-details img{
    width: 200PX;
    max-width: 550px;
    margin-top: 10px;
    border-radius: 10px;
}



.footer {
    text-align: center;
    padding: 15px;
    background-color: #4CBB17;
    position: relative;
    bottom: 0;
    width: 100%;
}
